@import url('https://fonts.googleapis.com/css2?family=Harmattan&family=Katibeh&family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css?family=Duru+Sans|Fira+Code|Roboto+Mono|Space+Mono&display=swap');

body {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Harmattan','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #922f34;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-header, .App-main, .App-footer {
  min-height: 50vh;
}

.App-header, .App-footer {
  background: #F9F7C2;
}

.App-header {
  margin-top: 10vh;
}

.App-main, .App-good-day {
  margin: 0px auto;
  margin-bottom: 5vh;
  width: 75vw;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.App-button {
  background: #922f34;
  min-width: 150px;
  font-size: calc(10px + 2vmin);
  color: #fff;
  padding: 3px;
  margin: 5px;
  font: inherit;
  text-decoration: none;
  border-radius: 3px;
  align-self: center;
  border-radius: 5px;
}
.App-button:hover {
  background: #ec6e33;
  font-family: 'Katibeh', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 7px;
  font-size: calc(10px + 3vmin);
}

.App-flexbox {
  width: 375;
  display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.App-form-column {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px
}
  .App-form-column label, input {
    align-self: center;
    text-align: left;
    width: 200px;
  }

.App-logo {
  width: 200px;
  margin-top: 2em;
}

.App-logo-small {
  margin-top: 2em;
  width: 10vw;
}

.App-logo-xsmall {
  height: 8vh;
}

.App-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #922f34;
  color: white;
  font-size: calc(10px + 2vmin);
  position: fixed;
  top: 0;
  width: 100%; 
  
}
.App-nav-links {
  width: 50%;
  display: flex;
  flex-direction: row;
	justify-content: space-around;
  align-items: center;
  list-style: none;
}


  .App-nav-links li {
    width: 3em;
    border-radius: 5px;
  }
  .App-nav-links li:hover {
    background: #ec6e33;
    font-family: 'Katibeh', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 7px;
    font-size: calc(10px + 3vmin);
  }

  .App-wb-logo-small {
    height: 5vh;
    border-radius: 3em;
    margin-bottom: -1.75em;
  }

  .Component-city-search-container {
    margin-bottom: 1em;
  }


.debugger {
  border: dashed red 2px;
  background-color: lightpink
}

.duru-font {
  font-family: 'Duru Sans', Verdana, Geneva, Tahoma, sans-serif;
}

.reduce-space-between {
  margin-bottom: -0.5em;
}